$headerHeight: 80px;

$header_bg: #bad788;
$black_10: rgba(0, 0, 0, 0.1);
$site_bg: #C5D8A4;
$content_bg: #f1f1dc;
$additional_bg: #e7f7b2;

$green: #169A13;
$red: #cb1212;
$blue: #5454ff;
$brown: #ad4d01;
$dark_brown: #621000;
$svg: #534340;

$breakpointDesktop: '1200px';
$breakpointTablet: '1000px';
$breakpointSmallTablet: '800px';
$breakpointMobile: '600px';
