@import "src/theme/variables";

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 480px;
  @media screen and (max-width: #{$breakpointTablet}) {
    width: 100%;
  }
}

.numberField {
  margin-bottom: 40px;
}

.button {
  margin-top: 40px;
  width: 100%;
}
