@import "src/theme/variables";

.wrapper {
  position: relative;
}

.listWrapper {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  width: 100px;
  transform: translateX(-50%);
  padding: 5px;
  background-color: $content_bg;
  box-shadow: 0 0 5px 0px #00000080;
}

.currency {
  display: flex;
  padding: 5px;
  cursor: pointer;
  transition: background-color ease 1s;
  background-color: transparent;
  &:not(:last-child) {
    margin-bottom: 5px;
  }
  &:hover {
    transition: background-color ease 0.5s;
    background-color: $black_10;
  }
}

.iconWrapper {
  display: flex;
  justify-content: center;
  margin-right: 5px;
}